<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<section class="container-fluid sec">
    <div class="row container-fluid  w-100 h-100">
        <div class="col-xs-6 w-75 h-100 " style="background-color: blueviolet;">
        <img src="/images/map.png" alt=""></div>
    <div class="col-xs-6 w-25 h-100" style="background-color: aquamarine; z-index: 1;">
    <img src="/images/user.png" style="  clip-path:circle(50%); height: 200px; width: 200px;" alt="">
    <h2><%= dname%></h2>
    
    <h2>Call: <%= dnum%></h2>
    
    <h2>Car Details <%= pnum%> <br><%= ctype%></h2>
    <h2></h2>

</div>
    </div>
    
</section>
<%- include("partials/footer"); -%>